<div class="container blue-gradient">
    <div class="row align-items-center">
        <div class="col-sm-12">
            <div class="header-page-content text-center text-lg-start">
                <h1>Dedicated Servers</h1>
                <p>If you are looking for the best Dedicated servers for your business then Azpirehosting's Dedicated Servers are the solution. We have high performing servers at affordable prices to truly deliver the power that you need.</p>
                <ul class="section-button">
                    <li><a href="#pricing"><button class="btn btn-pill">Get Started</button></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</header>


<section id="pricing" class="pricing-section-five pt-100 pb-70">
    <div class="container">
        <div class="section-title section-title-two">
            <h2>Price & plans</h2>
        </div>
        <div class="row">
            <% dedicatedHostingPlans.forEach((dedicatedHostingPlan, index)=> { %>
                <div class="col-sm-12 col-md-4">
                    <div class="pricing-item pricing-item-two">
                        <div class="pricing-secondary-header">
                            <div class="pricing-header-title">
                                <h3 class="pricing-header-title-text">
                                    <%= dedicatedHostingPlan.name %>
                                </h3>
                            </div>
                            <div class="pricing-item-amount">
                                <h4 class="pricing-item-amount-number"><small>$</small>
                                    <%= dedicatedHostingPlan.cost %><span>/Month</span>
                                </h4>
                            </div>
                        </div>
                        <div class="pricing-item-body">
                            <ul class="pricing-body-list pricing-body-list-two">
                                <li><%= dedicatedHostingPlan.features.cores %></li>
                                <li><%= dedicatedHostingPlan.features.ram %></li>
                                <li><%= dedicatedHostingPlan.features.diskspace %></li>
                                <li><%= dedicatedHostingPlan.features.bandwidth %></li>
                                <li><%= dedicatedHostingPlan.features.dedicatedIp %> IP Addresses</li>
                                <li><%= dedicatedHostingPlan.features.mbit %></li>
                                <li><%= dedicatedHostingPlan.features.ghz %></li>
                            </ul>
                            <a href="<%= billingURL %>" class="btn btn-gradient">Order Now</a>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
</section>


<section class="feature-section pt-100 pb-70">
    <div class="container">
        <div class="section-title section-title-two">
            <h2>Why Choose Azpire Dedicated Server Hosting?</h2>
        </div>

        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152273/azh_newui/features/200_transfer_onfpsj.png" alt="200TB Transfer">
                        </div>
                        <div class="feature-item-content">
                            <h3>200TB Transfer</h3>
                            <p>There is enough for incoming and outgoing transfers on all our dedicated servers compared to so many other competitors out there.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627153327/azh_newui/features/port_sgcmfz.png" alt="1Gbit/10Gbit Port">
                        </div>
                        <div class="feature-item-content">
                            <h3>1Gbit/10Gbit Port</h3>
                            <p>All our Dedicated servers comes with a 1Gbit Port while DED006 comes with a 10Gbit Port.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152274/azh_newui/features/timely_setup_ajr04d.png" alt="Timely Setup">
                        </div>
                        <div class="feature-item-content">
                            <h3>Timely Setup</h3>
                            <p>Our dedicated servers are created beween 1 - 3 hours. This timeframe allows us to carefully setup the server as this is done manually per each order.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152274/azh_newui/features/ssd_hdd_gf2yb9.png" alt="SSD+HDD">
                        </div>
                        <div class="feature-item-content">
                            <h3>SSD+HDD</h3>
                            <p>Our dedicated servers comes with an SSD hard drive which automatically improves the server speed. These hard drives are 100% reliable.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152274/azh_newui/features/24_7_support_udiwfc.png" alt="24/7 Customer Support">
                        </div>
                        <div class="feature-item-content">
                            <h3>24/7 Customer Support</h3>
                            <p>We work round the clock just to make sure all customers are enjoying their value for money. Customers get responses via the support ticket channel.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152273/azh_newui/features/data_center_az8imy.png" alt="US Data Center">
                        </div>
                        <div class="feature-item-content">
                            <h3>US Data Center</h3>
                            <p>Our Datacenter for the Dedicated Server plans exist in the US, we plan to add more locations very soon later in the future.</p>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</section>