<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-12 col-lg-6">
            <div class="header-page-content text-center text-lg-start">
                <h1>Domain names & pricing</h1>
                <p>Choose from over 400+ Top Level Domains at affordable prices.</p>
                <ul class="section-button">
                    <li><a href="#get-domain"><button class="btn btn-pill">Get your domain</button></a></li>
                    <li><a href="#pricing"><button class="btn btn-blue btn-pill">View Pricing</button></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</header>


<section id="get-domain" 
class="domain-search-section-two default-box-shadow max-1000 bg-white margin-minus-box pt-100 pb-80 border-radius-3">
<div class="container">
    <div class="section-title section-title-two text-center">
        <h2>Search perfect domain</h2>
    </div>
    <div class="domain-search domain-search-two">
        <form  action="<%= process.env.RESELLER_HOSTING_URL %>/bill/index.php" method="POST">
            <div class="form-group">
                <input type="text" name="domain" class="form-control" placeholder="Find Your Domain" required>
                <div class="input-group-append">
                    <!-- <select class="form-control">
                        <option value="1">.com</option>
                        <option value="2">.co</option>
                        <option value="3">.net</option>
                    </select> -->
                </div>
                <button class="btn btn-gradient">Search Now</button>
            </div>
        </form>
        <div class="domain-search-category">
            <ul>
                <% selected_domains.forEach((selected_domain, index) => { %>
                    <li>
                        <a href="#" class="<%= index != 0 ? '': 'active' %>">.<%= selected_domain.tld %>  only $<%= selected_domain.final_cost %></a>
                    </li>
                <% }); %> 
            </ul>
        </div>
    </div>
</div>
</section>

<section class="choose-section pt-100 pb-70 blue-gradient-with-opacity">
    <div class="container">
        <div class="section-title section-title-two">
            <small>AZPIRE DOMAINS</small>
            <h2>Why choose us?</h2>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="box-card fluid-height">
                    <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                        <div class="box-number"><span>01</span></div>
                        <div class="box-card-content text-center">
                            <div class="box-card-thumb">
                                <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627155122/azh_newui/illustrations/whois_qgcqqw.png" alt="Free WHOIS Protection">
                            </div>
                            <div class="box-card-details">
                                <h3>Free WHOIS Protection</h3>
                                <p>WHOIS protection is the process of hiding your personal information from the domain name. Most of the places this can go upto $9 extra, but here at Azpire hosting we do it for free.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="box-card fluid-height">
                    <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                        <div class="box-number"><span>02</span></div>
                        <div class="box-card-content text-center">
                            <div class="box-card-thumb">
                                <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627155122/azh_newui/illustrations/cheap_pricing_jgtzli.png" alt="Cheap Domain prices">
                            </div>
                            <div class="box-card-details">
                                <h3>Cheap Domain prices</h3>
                                <p>At Azpire, you can choose over 400+ Top Level domains at cheaper prices than the competition out there. Getting online couldnt have been so cheap.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-0">
                <div class="box-card fluid-height">
                    <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                        <div class="box-number"><span>03</span></div>
                        <div class="box-card-content text-center">
                            <div class="box-card-thumb">
                                <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627155123/azh_newui/illustrations/easy_management_olh0f8.png" alt="Easy Domain Management">
                            </div>
                            <div class="box-card-details">
                                <h3>Easy Domain Management</h3>
                                <p>All customers can easily manage all their domains from the billing panel. DNS Management, Name servers set up, DNSSEC, e.t.c.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>


<section id="pricing" class="pricing-section p-tb-100">
<div class="container">
    <div class="section-title section-title-two">
        <h2>Domain pricing</h2>
    </div>
    <div class="pricing-table-default">
        <table>
            <thead>
                <tr>
                    <th class="th-bg text-center th-lg">Name</th>
                    <th>
                        <span class="d-flex flex-column align-items-center">
                            <i class="flaticon-login"></i>
                            Register
                        </span>
                    </th>
                    <th>
                        <span class="d-flex flex-column align-items-center">
                            <i class="flaticon-renewable-energy"></i>
                            Renew
                        </span> 
                    </th>
                    <th>
                        <span class="d-flex flex-column align-items-center">
                            <i class="flaticon-forward"></i>
                            Transfer
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% domains.forEach((domain) => { %>
                    <tr>
                        <td class="td-main td-bg">
                            <div class="td-domain-name">
                                <span class="bullet bullet-green-light"></span>
                                <p><%= domain.tld %></p>
                            </div>
                        </td>
                        <td>$<%= domain.final_cost %></td>
                        <td>$<%= domain.renewal_cost %></td>
                        <td>$<%= domain.final_cost %></td>
                    </tr>
                <% }); %> 
            </tbody>
        </table>
    </div>
</div>
</section>


