<div class="mt-auto header-top-height"></div>
<main class="container mb-auto">
    <div class="carousel carousel-main">
        <div class="carousel-cell">
            <h3 class="mt-3 main-header-text-title"><span>The most affordable Domain</span>secure and
                guaranteed <small>Hurry! Order Now.</small></h3>
            <form action="https://azpirehosting.com/bill/index.php" id="domain-search-header"
                class="col-md-6" method="POST">
                <i class="fas fa-globe"></i>
                <input type="text" placeholder="search for you domain now" id="domain" name="domain">
                <span class="inline-button-domain-order">
                    <button data-toggle="tooltip" data-placement="left" title="transfer" id="transfer-btn" type="submit"
                        name="transfer" value="Transfer"><i class="fas fa-undo"></i></button>
                    <button data-toggle="tooltip" data-placement="left" title="search" id="search-btn" type="submit"
                        name="submit" value="Search"><i class="fas fa-search"></i></button>
                </span>
            </form>
            <span class="col-md-6 domain-search-header-pricetext">starting at <b>$<%= minDomainCost %>/year</b></span>
            <div class="owl-theme owl-domain-prices-previw col-md-7">
                <div class="domain-name-classes item">
                    <div class="domain-img"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483279/azh/domain/black/com_alqmih.png" alt="" /></div>
                    <span class="price">$<%= domains.com %></span>
                    <span class="features-domains">
                        <a data-toggle="tooltip" data-placement="right" title="on sale"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483557/azh/svgs/Time_xpzm7l.svg"
                                alt="" /></a>
                        <a data-toggle="tooltip" data-placement="right" title="secure"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483555/azh/svgs/Locked_qwfcc0.svg"
                                alt="" /></a>
                    </span>
                </div>
                <div class="domain-name-classes item">
                    <div class="domain-img"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483279/azh/domain/black/net_tou2qh.png" alt="" /></div>
                    <span class="price">$<%= domains.net %></span>
                    <span class="features-domains">
                        <a data-toggle="tooltip" data-placement="right" title="on sale"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483557/azh/svgs/Time_xpzm7l.svg"
                                alt="" /></a>
                        <a data-toggle="tooltip" data-placement="right" title="secure"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483555/azh/svgs/Locked_qwfcc0.svg"
                                alt="" /></a>
                    </span>
                </div>
                <div class="domain-name-classes item">
                    <div class="domain-img"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483279/azh/domain/black/org_c6dm0m.png" alt="" /></div>
                    <span class="price">$<%= domains.org %></span>
                    <span class="features-domains">
                        <a data-toggle="tooltip" data-placement="right" title="on sale"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483557/azh/svgs/Time_xpzm7l.svg"
                                alt="" /></a>
                        <a data-toggle="tooltip" data-placement="right" title="secure"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483555/azh/svgs/Locked_qwfcc0.svg"
                                alt="" /></a>
                    </span>
                </div>
                <div class="domain-name-classes item">
                    <div class="domain-img"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483279/azh/domain/black/store_j6nthk.png" alt="" /></div>
                    <span class="price">$<%= domains.store %></span>
                    <span class="features-domains">
                        <a data-toggle="tooltip" data-placement="right" title="on sale"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483557/azh/svgs/Time_xpzm7l.svg"
                                alt="" /></a>
                        <a data-toggle="tooltip" data-placement="right" title="secure"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483555/azh/svgs/Locked_qwfcc0.svg"
                                alt="" /></a>
                    </span>
                </div>
                <div class="domain-name-classes item">
                    <div class="domain-img"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624749894/azh/domain/black/club_sy2wmd.png" alt="" /></div>
                    <span class="price">$<%= domains.club %></span>
                    <span class="features-domains">
                        <a data-toggle="tooltip" data-placement="right" title="on sale"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483557/azh/svgs/Time_xpzm7l.svg"
                                alt="" /></a>
                        <a data-toggle="tooltip" data-placement="right" title="secure"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483555/azh/svgs/Locked_qwfcc0.svg"
                                alt="" /></a>
                    </span>
                </div>
                <div class="domain-name-classes item">
                    <div class="domain-img"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624749895/azh/domain/black/xyz_rkio23.png" alt="" /></div>
                    <span class="price">$<%= domains.xyz %></span>
                    <span class="features-domains">
                        <a data-toggle="tooltip" data-placement="right" title="on sale"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483557/azh/svgs/Time_xpzm7l.svg"
                                alt="" /></a>
                        <a data-toggle="tooltip" data-placement="right" title="secure"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483555/azh/svgs/Locked_qwfcc0.svg"
                                alt="" /></a>
                    </span>
                </div>
                <div class="domain-name-classes item">
                    <div class="domain-img"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483279/azh/domain/black/com_alqmih.png" alt="" /></div>
                    <span class="price">$<%= domains.com %></span>
                    <span class="features-domains">
                        <a data-toggle="tooltip" data-placement="right" title="on sale"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483557/azh/svgs/Time_xpzm7l.svg"
                                alt="" /></a>
                        <a data-toggle="tooltip" data-placement="right" title="secure"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483555/azh/svgs/Locked_qwfcc0.svg"
                                alt="" /></a>
                    </span>
                </div>
                <div class="domain-name-classes item">
                    <div class="domain-img"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483279/azh/domain/black/net_tou2qh.png" alt="" /></div>
                    <span class="price">$<%= domains.net %></span>
                    <span class="features-domains">
                        <a data-toggle="tooltip" data-placement="right" title="on sale"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483557/azh/svgs/Time_xpzm7l.svg"
                                alt="" /></a>
                        <a data-toggle="tooltip" data-placement="right" title="secure"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483555/azh/svgs/Locked_qwfcc0.svg"
                                alt="" /></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="row hosting-header-slider-cell">
                <div class="col-md-6">
                    <h3 class="mt-3 main-header-text-title">
                        <i class="circle-sub-title-header-slider">the best web hosting provider</i>
                        Perfect Plans For Getting <br>Started
                        <small>order yours now</small>
                    </h3>
                    <p class="text-sub-title-header-slider">Quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <a class="btn-sub-title-header-slider" href="dedicated.html">start now</a>
                </div>
                <div class="col-md-6 text-center">
                    <img class="hosting-header-slider-cell-img" src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483438/azh/header/slider/header-bg_rwsrsl.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <nav class="nav-header-chage nav--shamso carousel-nav">
        <button class="nav__item nav__item--current carousel-cell" aria-label="Item 1"><span
                class="nav__item-title">Domains</span></button>
        <button class="nav__item carousel-cell" aria-label="Item 2"><span
                class="nav__item-title">Hosting</span></button>
    </nav>
</main>
<div class="mt-auto"></div>
</div>

<div class="padding-100-0-0"></div>

<section class="padding-100-0-50">
    <div class="container">
        <h5 class="title-default-coodiv-two">Why Choose Azpire Hosting & Domains?</h5>
        <div class="row justify-content-start">
            <div class="col-md-4">
                <div class="icon-hom-page-service-holder"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483571/azh/svgs/Detailed/Battery_balazu.svg" alt="" /></div>
                <h5 class="icon-hom-page-service-title">Faster Website Loading</h5>
                <p class="icon-hom-page-service-text">Websites hosted on our servers are really fast. Just try it out your self. We can provide you a refund if you are not happy.
                 *T&C Apply</p>
            </div>
            <div class="col-md-4">
                <div class="icon-hom-page-service-holder"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483571/azh/svgs/Detailed/Download_qbsxa0.svg" alt="" /></div>
                <h5 class="icon-hom-page-service-title">Easy WordPress Install</h5>
                <p class="icon-hom-page-service-text">Spinning up a WordPress website for your business has never been easy. Our shared hosting servers are equipped with Softaculous App Installer, where you can install WordPress and hundreds of other apps. </p>
            </div>
            <div class="col-md-4">
                <div class="icon-hom-page-service-holder"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483571/azh/svgs/Detailed/VR_shkazn.svg" alt="" /></div>
                <h5 class="icon-hom-page-service-title">24/7 365 Support</h5>
                <p class="icon-hom-page-service-text">We provide support to our customers via a customer ticketing system. Although we don’t believe you would have a problem,  just let us know. We will guide you happily. </p>
            </div>
            <div class="col-md-4">
                <div class="icon-hom-page-service-holder"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483571/azh/svgs/Detailed/Charger_juph4c.svg" alt="" /></div>
                <h5 class="icon-hom-page-service-title">From Small to Large Scale</h5>
                <p class="icon-hom-page-service-text">Whether you are a small business trying to host your site or an enterprise looking for high end hardware, our plans ranging from Shared hosting to Dedicated Servers will suit you.</p>
            </div>
            <div class="col-md-8 mr-tp-60 hom-page-service-more">
                <span class="hom-page-service-more-banner"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483093/azh/bg/cercle_cqby0q.png" alt="" /></span>
                <h5 class="hom-page-service-more-title">check out our latest offers <span>Simply Dummy Text Of The
                        Printing And Typesetting Industry</span></h5>
                <form
                    action="https://codeoxy.us16.list-manage.com/subscribe/post?u=49eb75689a0b6e7eb66b67e51&amp;id=4366ef611f"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                    class="validate hom-page-service-more-form" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group">
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                name="b_49eb75689a0b6e7eb66b67e51_4366ef611f" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe"
                                id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
                <script type='text/javascript'>
                    (function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'BIRTHDAY'; ftypes[3] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);
                </script>

                <div class="hom-page-service-more-payment">
                    <a data-toggle="tooltip" data-placement="top" title="accepting visa" href="#"><img
                            src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483481/azh/payment/icon-visa_kyuucl.png" alt="" /></a>
                    <a data-toggle="tooltip" data-placement="top" title="accepting maestro" href="#"><img
                            src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483481/azh/payment/icon-maestro_kigghm.png" alt="" /></a>
                    <a data-toggle="tooltip" data-placement="top" title="accepting bitcoin" href="#"><img
                            src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483481/azh/payment/icon-bitcoin_wwkflo.png" alt="" /></a>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="padding-100-0 position-relative">
    <div class="body_overlay_ono"></div>
    <div class="container">
        <h5 class="title-default-coodiv-two">check out awesome plans, and order now <span class="mr-tp-20">chose
                which package is best for you.</span></h5>
        <div class="row justify-content-start second-pricing-table-container mr-tp-30">
            <div class="col-md-3">
                <div class="second-pricing-table">
                    <h5 class="second-pricing-table-title">Shared Hosting <span>Stating as low as</span></h5>
                    <span class="second-pricing-table-price">
                        <i class="monthly">$<%= minSharedHostingPrice %><small>/mo</small></i>
                    </span>
                    <ul class="second-pricing-table-body">
                        <li>Free SSL</li>
                        <li>Unlimited Disk Space</li>
                        <li>Unlimited Bandwidth</li>
                        <li>24/7 Support</li>
                    </ul>
                    <a class="second-pricing-table-button" href="/shared-web-hosting">All Plans</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="second-pricing-table active">
                    <h5 class="second-pricing-table-title">VPS Cloud <span>Stating as low as</span></h5>
                    <span class="second-pricing-table-price">
                        <i class="monthly">$<%= minVpsCloudPrice %><small>/mo</small></i>
                    </span>
                    <ul class="second-pricing-table-body">
                        <li>Upto 8 vCPU Cores</li>
                        <li>Upto 640GB SSD</li>
                        <li>Upto 7TB Transfers</li>
                        <li>24/7 Support</li>
                    </ul>
                    <a class="second-pricing-table-button" href="/vps-cloud">All Plans</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="second-pricing-table">
                    <h5 class="second-pricing-table-title">VPS Hosting <span>Stating as low as</span></h5>
                    <span class="second-pricing-table-price monthly">
                        <i class="monthly">$<%= minVpsPrice %><small>/mo</small></i>
                    </span>
                    <ul class="second-pricing-table-body">
                        <li>Upto 10 vCPU Cores</li>
                        <li>Upto 1.6TB SSD</li>
                        <li>32TB Monthly Transfers</li>
                        <li>24/7 Support</li>
                    </ul>
                    <a class="second-pricing-table-button" href="/vps">All Plans</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="second-pricing-table active">
                    <h5 class="second-pricing-table-title">Dedicated Servers <span>Stating as low as</span></h5>
                    <span class="second-pricing-table-price">
                        <i class="monthly">$<%= minDedicatedServerPrice %><small>/mo</small></i>
                    </span>
                    <ul class="second-pricing-table-body">
                        <li>Upto 12 Cores</li>
                        <li>Upto 4TB Storage</li>
                        <li>200TB Monthly Transfer</li>
                        <li>24/7 Support</li>
                    </ul>
                    <a class="second-pricing-table-button" href="/ded">All Plans</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our-pertners">
    <div class="container">
        <h2 class="d-none">our pertners</h2>
        <div class="owl-carousel pertners-carousel owl-theme">
            <div class="item">
                <a href="#"> <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483500/azh/partners/logo1_qdjf2x.png" alt="" /> </a>
            </div>
            <div class="item">
                <a href="#"> <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483500/azh/partners/logo2_omps4d.png" alt="" /> </a>
            </div>
            <div class="item">
                <a href="#"> <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483500/azh/partners/logo3_m3r1tk.png" alt="" /> </a>
            </div>
            <div class="item">
                <a href="#"> <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483500/azh/partners/logo4_maz5zr.png" alt="" /> </a>
            </div>
            <div class="item">
                <a href="#"> <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483500/azh/partners/logo5_elcnfy.png" alt="" /> </a>
            </div>
            <div class="item">
                <a href="#"> <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483500/azh/partners/logo1_qdjf2x.png" alt="" /> </a>
            </div>
            <div class="item">
                <a href="#"> <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483500/azh/partners/logo2_omps4d.png" alt="" /> </a>
            </div>
            <div class="item">
                <a href="#"> <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483500/azh/partners/logo3_m3r1tk.png" alt="" /> </a>
            </div>
            <div class="item">
                <a href="#"> <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483500/azh/partners/logo4_maz5zr.png" alt="" /> </a>
            </div>
            <div class="item">
                <a href="#"> <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483500/azh/partners/logo5_elcnfy.png" alt="" /> </a>
            </div>
        </div>
    </div>
</section>
<section class="section-wth-amwaj">
    <div class="bg_overlay_section-amwaj">
        <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483094/azh/bg/b_bg_02_o4jwyg.jpg" alt="img-bg">
    </div>
    <div class="container">
        <div class="row justify-content-between mr-tp-50">
            <div class="col-md-6 side-text-right-container">
                <h2 class="side-text-right-title">We are with you ,<br> every step of the way</h2>
                <p class="side-text-right-text">
                    Whether you are looking for a <b>personal</b> website hosting plan or a <b>business</b> website
                    hosting plan, We are the perfect solution for you. Our powerful website hosting services will
                    not only help you achieve your overall website goals, but will also provide you with the
                    confidence you need in knowing that you are partnered with a <a href="#">reliable</a> and <a
                        href="#">secure</a> website hosting platform.
                    <br>
                    <br> We are one of the easiest website hosting platforms to use, and remain committed to
                    providing our customers with one of the best hosting solutions on the market.
                <p>
                    <a class="side-text-right-button" href="#">start with us now</a>
            </div>
            <div class="col-md-5">
                <div class="display-on-hover-box-container">
                    <a href="#tab1" class="display-on-hover-box-items">
                        <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483593/azh/svgs/hover-box/quality-badge_xwejcx.svg" alt="" />
                    </a>
                    <a href="#tab2" class="display-on-hover-box-items">
                        <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483593/azh/svgs/hover-box/inclined-rocket_bvb9lz.svg" alt="" />
                    </a>
                    <a href="#tab3" class="display-on-hover-box-items">
                        <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483593/azh/svgs/hover-box/public-speech_stdp6z.svg" alt="" />
                    </a>
                    <a href="#tab4" class="display-on-hover-box-items">
                        <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483593/azh/svgs/hover-box/big-light_z1takh.svg" alt="" />
                    </a>
                    <a href="#tab5" class="display-on-hover-box-items">
                        <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483593/azh/svgs/hover-box/big-lifesaver_v8bfbo.svg" alt="" />
                    </a>
                    <a href="#tab6" class="display-on-hover-box-items">
                        <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483595/azh/svgs/hover-box/headphones-with-thin-mic_u1zd8t.svg" alt="" />
                    </a>
                    <a href="#tab7" class="display-on-hover-box-items">
                        <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483593/azh/svgs/hover-box/inclined-paper-plane_gn2atq.svg" alt="" />
                    </a>
                    <a href="#tab8" class="display-on-hover-box-items">
                        <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483595/azh/svgs/hover-box/big-telephone_xf9z6n.svg" alt="" />
                    </a>
                    <div class="display-on-hover-box-content">
                        <div class="display-on-hover-box-cotent-items">
                            <div id="tab1" class="tab-content-hover">
                                <h5>word press hosting</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit
                                    amet elit. Lorem ipsum dolor sit amet</p>
                            </div>
                            <div id="tab2" class="tab-content-hover">
                                <h5>word press2 hosting</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit
                                    amet elit. Lorem ipsum dolor sit amet</p>
                            </div>
                            <div id="tab3" class="tab-content-hover">
                                <h5>word press3 hosting</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit
                                    amet elit. Lorem ipsum dolor sit amet</p>
                            </div>
                            <div id="tab4" class="tab-content-hover">
                                <h5>word press4 hosting</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit
                                    amet elit. Lorem ipsum dolor sit amet</p>
                            </div>
                            <div id="tab5" class="tab-content-hover">
                                <h5>word press5 hosting</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit
                                    amet elit. Lorem ipsum dolor sit amet</p>
                            </div>
                            <div id="tab6" class="tab-content-hover">
                                <h5>word press6 hosting</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit
                                    amet elit. Lorem ipsum dolor sit amet</p>
                            </div>
                            <div id="tab7" class="tab-content-hover">
                                <h5>word press7 hosting</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit
                                    amet elit. Lorem ipsum dolor sit amet</p>
                            </div>
                            <div id="tab8" class="tab-content-hover">
                                <h5>word press8 hosting</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit
                                    amet elit. Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>