<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="High Quality Web Hosting and domains At Affordable Prices For Anyone To Go Online.">
    <meta name="keywords" content="affordable domain, affordable domain hosting, affordable hosting plans, affordable shared hosting, affordable web hosting plans, bandwidth web hosting, business email web hosting, buy a domain and hosting, buy a hosting, buy cheap domain and hosting, buy domain and web hosting, buy domain free hosting, buy domain hosting, buy web domain cheap, buy web hosting, buy website domain and hosting, buy website domain cheap, cheap and reliable web hosting, cheap cloud hosting, cheap cloud web hosting, cheap dedicated server unlimited bandwidth, cheap domain and email, cheap domain and email hosting, cheap domain and hosting, cloud vps, vps hosting, dedicated ip, dedicated hosting, premium support, seo, search engine optimization, social media marketing">
    <meta name="author" content="Azpire Designs">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>
        <%= typeof title !=='undefined' ? title + " | " : '' %>Cheap Reliable Web Hosting and Domains by Azpire Hosting
    </title>
    <link rel="icon" href="https://res.cloudinary.com/azpire-ui/image/upload/v1627725183/azh_newui/favicon.png"
        type="image/png" sizes="16x16">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/css/bootstrap.min.css" type="text/css"
        media="all"  />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/css/animate.min.css" type="text/css"
        media="all"  />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/css/owl.carousel.min.css" type="text/css"
        media="all"  />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/css/owl.theme.default.min.css" type="text/css"
        media="all"  />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/css/meanmenu.min.css" type="text/css"
        media="all"  />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/css/magnific-popup.min.css" type="text/css"
        media="all"  />

    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/css/boxicons.min.css' type="text/css"
        media="all"  />

    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/css/flaticon.css' type="text/css" media="all"  />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/css/style.min.css" type="text/css"
        media="all"  />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/css/responsive.css" type="text/css"
        media="all"  />
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>

    <div class="preloader"  style="background-color: #ff5500;">
        <div class="preloader-wrapper">
            <div class="preloader-img">
                <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627724489/azh_newui/Dual_Ring-1s-200px_pfxozq.gif"
                    alt="preloader">
            </div>
        </div>
    </div>


    <div class="topbar bg-off-white-two">
        <div class="container">
            <div class="topbar-inner">
                <div class="topbar-item">
                    <div class="topbar-item-list">
                        <div class="topbar-list-thumb">
                            <i class='bx bx-envelope'></i>
                        </div>
                        <div class="topbar-list-content">
                            <a href="mailto:<%= process.env.AZPIRE_USER_MAIL %>">
                                <%= process.env.AZPIRE_USER_MAIL %>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="topbar-item">

                    <div class="topbar-item-list navbar-language">
                        <button class="language-option" type="button" id="language1">
                            <span class="lang-name"></span>
                        </button>
                        <div  aria-labelledby="language1">
                            <a class="dropdown-item" href="#">
                                <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1625840359/azh_newui/uk_ktvksg.png"
                                    alt="flag" class="dropdown-flag-icon">
                                US$
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <header id="azh-header" class="header-banner header-bg-shape-three">

        <div class="fixed-top">
            <div class="navbar-area">

                <div class="mobile-nav mobile-nav-two">
                    <a href="index.html" class="mobile-logo">
                        <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1625841869/azh_newui/logo_resized_uyghsj.png"
                            alt="logo" class="blue-logo">
                    </a>

                    <div class="navbar-option">
                        <div class="navbar-option-item navbar-option-dots dropdown">
                            <button type="button" id="dot" aria-haspopup="true" aria-expanded="false">
                                <i class="bx bx-dots-horizontal-rounded"></i>
                            </button>
                            <ul class="dropdown-menu navbar-dots-dropdown">
                                <li class="dropdown-item">
                                    <div class="navbar-option-item dropdown">
                                        <button class="search navbar-option-icon dropdown-toggle" type="button"
                                            id="search1" data-bs-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <span class="navbar-search-zoom"><i class="flaticon-zoom"></i></span>
                                            <span class="navbar-search-cancel"><i class="flaticon-cancel"></i></span>
                                        </button>
                                        <div class="navbar-search dropdown-menu" aria-labelledby="search1">
                                            <form>
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="Search...">
                                                    <button class="btn btn-gradient"><span><i
                                                                class="flaticon-loupe"></i></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-item">
                                    <div class="navbar-option-item">
                                        <a href="cart.html" target="_blank" class="shopping-cart navbar-option-icon">
                                            <span><i class="flaticon-shopping-bags"></i></span>
                                            <span class="shopping-cart-tooltip">2</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="navbar-option-item navbar-option-search dropdown mobile-hide">
                            <button class="search navbar-option-icon dropdown-toggle" type="button" id="search3"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="navbar-search-zoom"><i class="flaticon-zoom"></i></span>
                                <span class="navbar-search-cancel"><i class="flaticon-cancel"></i></span>
                            </button>
                            <div class="navbar-search dropdown-menu" aria-labelledby="search3">
                                <form>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Search...">
                                        <button class="btn btn-gradient"><span><i
                                                    class="flaticon-loupe"></i></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-nav main-nav-two bg-white">
                    <div class="container">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <a class="navbar-brand" href="/">
                                <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1625841869/azh_newui/logo_resized_uyghsj.png"
                                    width="120px" alt="logo" class="blue-logo">
                            </a>

                            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a href="/" class="nav-link">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link dropdown-toggle">Hosting</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="/shared-web-hosting" class="nav-link">Shared Web Hosting</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/vps-cloud" class="nav-link">VPS Cloud Hosting</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/vps" class="nav-link">VPS Hosting</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/ded" class="nav-link">Dedicated Hosting</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/addons" class="nav-link">Addons</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link dropdown-toggle">Domain</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="<%= process.env.RESELLER_HOSTING_URL %>/bill/#search-domain"
                                                    class="nav-link">Register Domain</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="<%= process.env.RESELLER_HOSTING_URL %>/bill/#transfer-domain"
                                                    class="nav-link">Transfer Domain</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/domain-pricing" class="nav-link">Domain Pricing</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/contact-us" class="nav-link">Contact Us</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="navbar-option">
                                <div class="navbar-option-item">
                                    <a href="<%= process.env.RESELLER_PANEL_URL %>" target="_blank"
                                        class="btn btn-gradient text-nowrap">
                                        Client Area
                                    </a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


        <!-- Body -->
        <%- body %>
            <!-- End of Body-->



            <footer class="footer-bg">

                <div class="footer-upper pt-100 pb-80">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-4">
                                <div class="footer-content-item">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627237773/azh_newui/logo_resized_light_b5w2in.png" alt="Azpire Hosting"></a>
                                    </div>
                                    <div class="footer-details">
                                        <p>Our mission is to provide easy, affordable and reliable hosting for every individual or business to go online. Your success is our hapiness.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-8">
                                <div class="footer-right pl-80">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4 col-lg-4">
                                            <div class="footer-content-list footer-content-item">
                                                <div class="footer-content-title">
                                                    <h3>Hosting</h3>
                                                </div>
                                                <ul class="footer-details footer-list">
                                                    <li><a href="/shared-web-hosting">Shared Hosting</a></li>
                                                    <li><a href="/vps-cloud">Cloud VPS Hosting</a></li>
                                                    <li><a href="/vps">VPS Hosting</a></li>
                                                    <li><a href="/ded">Dedicated Hosting</a></li>
                                                    <li><a href="/addons">Addons</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-lg-4">
                                            <div class="footer-content-list footer-content-item">
                                                <div class="footer-content-title">
                                                    <h3>Domains</h3>
                                                </div>
                                                <ul class="footer-details footer-list">
                                                    <li><a
                                                            href="<%= process.env.RESELLER_HOSTING_URL %>/bill/#search-domain">Register
                                                            a Domain</a></li>
                                                    <li><a
                                                            href="<%= process.env.RESELLER_HOSTING_URL %>/bill/#transfer-domain">Transfer
                                                            Domain</a></li>
                                                    <li><a href="/domain-pricing">Domain Pricing</a></li>
                                                    <li><a href="/whois-checker">WHOIS Checker</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-lg-4">
                                            <div class="footer-content-list footer-content-item">
                                                <div class="footer-content-title">
                                                    <h3>Other</h3>
                                                </div>
                                                <ul class="footer-details footer-list">
                                                    <li><a href="/aup">Acceptable Use Policy</a></li>
                                                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                                                    <li><a href="/refund-policy">Refund Policy</a></li>
                                                    <li><a href="/freq-ask-q">FAQ's</a></li>
                                                    <li><a href="/about-us">About Us</a></li>
                                                    <li><a href="/contact-us">Contact Us</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-lower">
                    <div class="container">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-sm-12 col-lg-5 pt-10 pb-10">
                                <div class="footer-lower-item-inner footer-lower-item-left">

                                    <div class="footer-lower-content">
                                        <div class="footer-social-logo">
                                            <ul class="footer-social-list">
                                                <li class="social-btn social-btn-fb"><a href="#"><i
                                                            class='bx bxl-facebook'></i></a></li>
                                                <li class="social-btn social-btn-tw"><a href="#"><i
                                                            class='bx bxl-twitter'></i></a></li>
                                                <li class="social-btn social-btn-ins"><a href="#"><i
                                                            class='bx bxl-instagram'></i></a></li>
                                                <li class="social-btn social-btn-pin"><a href="#"><i
                                                            class='bx bxl-pinterest-alt'></i></a></li>
                                                <li class="social-btn social-btn-yt"><a href="#"><i
                                                            class='bx bxl-youtube'></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-7 pt-10 pb-10">
                                <div class="footer-lower-item-inner footer-lower-item-right justify-content-lg-end">

                                    <div class="footer-lower-text text-lg-end">
                                        <p class="footer-text-copy"><div class="footer-social-logo">
                                            <ul class="footer-payment-list" style="justify-content: end;">
                                                <li class="social-btn social-btn-fb"><i class="cib-visa "></i></li>
                                                <li class="social-btn social-btn-fb"> <i class="cib-mastercard"></i>
                                                </li>
                                                <li class="social-btn social-btn-fb"> <i class="cib-cc-paypal"></i>
                                                </li>
                                                <li class="social-btn social-btn-fb"> <i class="cib-cc-discover"></i>
                                                </li>
                                                <li class="social-btn social-btn-fb"> <i class="cib-cc-amex"></i> </li>
                                            </ul>
                                        </div></p>
                                        <p class="footer-text-gen">Copyright © <%= new Date().getFullYear(); %> Azpire
                                            Hosting</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>


            <div class="scroll-top" id="scrolltop">
                <div class="scroll-top-inner">
                    <span><i class="flaticon-up-arrow"></i></span>
                </div>
            </div>


            <script type="text/javascript">
                var pathname = window.location.pathname;
                var subHeaderMinRoutes = ['/domain-pricing', '/domain-pricing/'];

                if (subHeaderMinRoutes.includes(pathname)) {
                    var element = document.getElementById("azh-header");
                    element.classList.remove("header-page");
                    element.classList.add("header-page");
                    element.classList.remove("blue-gradient");
                    element.classList.add("blue-gradient");
                    element.classList.remove("header-bg-shape-three");
                    element.classList.add("header-padding");
                } else if (pathname !== "/") {
                    var element = document.getElementById("azh-header");
                    element.classList.add("header-page");
                    element.classList.add("blue-gradient");
                    element.classList.remove("header-bg-shape-three");
                    element.classList.remove("header-padding");
                } else {
                    var element = document.getElementById("azh-header");
                    element.classList.add("header-bg-shape-three");
                    element.classList.remove("header-page");
                    element.classList.remove("blue-gradient");
                    element.classList.remove("header-padding");
                }
            </script>


            <!-- <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->


            <script src="https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/js/jquery-3.5.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/js/bootstrap.bundle.min.js"></script>

            <script src="https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/js/jquery.magnific-popup.min.js"></script>

            <script src="https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/js/owl.carousel.min.js"></script>

            <script src="https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/js/jquery.ajaxchimp.min.js"></script>

            <script src="https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/js/form-validator.min.js"></script>

            <script src="https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/js/jquery.meanmenu.min.js"></script>

            <script src="https://cdn.jsdelivr.net/gh/udi17live/azpire-cdn/js/script.js"></script>
</body>

</html>