<style>
    #price-term-toggle {
        padding: 0 0 50px;
        min-width: 200px;
    }

    #price-term-toggle a {
        font-weight: bold;
        color: #b4c3ca;
        text-decoration: none;
        position: relative;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
    }

    #price-term-toggle a.active {
        color: #364248;
    }

    #price-term-toggle a:first-child {
        padding-right: 40px;
    }

    #price-term-toggle a:last-child {
        padding-left: 40px;
    }

    #price-term-toggle a:first-child::after {
        content: '';
        position: absolute;
        height: 21px;
        width: 50px;
        background: #dae4e6;
        top: 50%;
        transform: translateY(-50%);
        right: -25px;
        border-radius: 40px;
    }

    #price-term-toggle a:last-child::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: #ff5500;
        width: 18px;
        height: 18px;
        left: -28px;
        border-radius: 40px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    #price-term-toggle a:last-child.active::after {
        left: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    #price-term-toggle.custom-change a:first-child::after {
        right: -20px;
    }

    #price-term-toggle.style-two a .change-box-text {
        position: relative;
        z-index: 1;
    }

    .pricing-item-amount.monthly .yearly{display:none;}
    .pricing-item-amount.yearly .monthly{display:none;}
</style>

<div class="container blue-gradient">
    <div class="row align-items-center">
        <div class="col-sm-12 ">
            <div class="header-page-content text-center text-lg-start">
                <h1>Shared Hosting</h1>
                <p>Cheaper faster and reliable web hosting plans starting from $1.99/month. These plans are great for
                    hosting your dream site. The most popular and easiest interface paired with array of leading apps
                    such as Wordpress, will give you plenty of options for hosting and managing your websites and
                    emails.</p>
                <ul class="section-button">
                    <li><a href="#shared-pricing"><button class="btn btn-pill">Get Started</button></a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
</header>


<section id="shared-pricing" class="pricing-section-five pt-100 pb-70">
    <div class="container">
        <div class="section-title section-title-two">
            <h2>Price & plans</h2>

            <div id="price-term-toggle" class=" custom-change">
                <a class="monthly-price f-size12"> <span class="change-box-text">Monthly</span> <span
                        class="change-box"></span></a>
                <a class="yearli-price f-size12 active"> <span class="change-box-text">Annually</span></a>
            </div>


        </div>
        <div class="row">
            <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                <div class="col-sm-12 col-md-4">
                    <div class="pricing-item pricing-item-two">
                        <div class="pricing-secondary-header">
                            <div class="pricing-header-title">
                                <h3 class="pricing-header-title-text">
                                    <%= sharedHostingPlan.name %>
                                </h3>
                            </div>
                            <div class="pricing-item-amount yearly">
                                <small class="yearly">$<%= sharedHostingPlan.cost %> billed annually.&nbsp; &nbsp;<span class="badge btn-gradient">Save <%= sharedHostingPlan.save_percentage %>%</span></small>
                                <h4 class="pricing-item-amount-number "><small>$</small>
                                    <b class="monthly"><%= sharedHostingPlan.monthly_cost %><span>/mo</span></b>
                                    <b class="yearly"><%= sharedHostingPlan.annual_monthly_cost %><span>/mo</span></b>
                                </h4>
                            </div>
                        </div>
                        <div class="pricing-item-body">
                            <ul class="pricing-body-list pricing-body-list-two">
                                <li>
                                    <%= sharedHostingPlan.features.hostedDomains %> Website<%=
                                            sharedHostingPlan.features.hostedDomains==='1' ? '' : 's' %>
                                </li>
                                <li>
                                    <%= sharedHostingPlan.features.diskspace %> Diskspace
                                </li>
                                <li>
                                    <%= sharedHostingPlan.features.bandwidth %> Bandwidth
                                </li>
                                <li>
                                    <%= sharedHostingPlan.features.subDomains %> Subdomains
                                </li>
                                <li>
                                    <%= sharedHostingPlan.features.emailAccounts %> Email Accounts
                                </li>
                                <li>
                                    <%= sharedHostingPlan.features.emailPerHour %> Emails per hour
                                </li>
                            </ul>
                            <a href="<%= billingURL %>" class="btn btn-gradient">Order Now</a>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>

        <div class="col text-center">
            <a href="#compare-plans" class="btn btn-gradient btn-pill">Compare All Plans</a>
        </div>
    </div>
</section>


<section class="feature-section pt-100 pb-70">
    <div class="container">
        <div class="section-title section-title-two">
            <h2>Why Choose Azpire Shared Hosting?</h2>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="box-card fluid-height">
                    <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                        <div class="box-number"><span>01</span></div>
                        <div class="box-card-content text-center">
                            <div class="box-card-thumb">
                                <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627156089/azh_newui/illustrations/free_migration_bpwyki.png"
                                    alt="Free Migration">
                            </div>
                            <div class="box-card-details">
                                <h3>Free Migration</h3>
                                <p>We provide a free migration service to all our customers so that the whole process
                                    migration will be seamless.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="box-card fluid-height">
                    <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                        <div class="box-number"><span>02</span></div>
                        <div class="box-card-content text-center">
                            <div class="box-card-thumb">
                                <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627156089/azh_newui/illustrations/instant_setup_u0grpz.png"
                                    alt="Instant Setup">
                            </div>
                            <div class="box-card-details">
                                <h3>Instant Setup</h3>
                                <p>Immediately the payment is successful, the account is created and login details are
                                    automatically sent by the system.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-0">
                <div class="box-card fluid-height">
                    <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                        <div class="box-number"><span>03</span></div>
                        <div class="box-card-content text-center">
                            <div class="box-card-thumb">
                                <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627156089/azh_newui/illustrations/backup_lvyw8l.png"
                                    alt="Free Backup">
                            </div>
                            <div class="box-card-details">
                                <h3>Free Backup</h3>
                                <p>We provide a free backup service for the Large Scale shared hosting plan at no
                                    additional cost. This is important incase of any data loss. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="features">
            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627148557/azh_newui/features/ssl_dvdxyr.png"
                                alt="Free SSL">
                        </div>
                        <div class="feature-item-content">
                            <h3>Free SSL</h3>
                            <p>All our shared hosting plans comes with a free SSL certificate for all hosted domains
                                including addon domains later added.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152273/azh_newui/features/apps_install_wordpress_cnejeh.png"
                                alt="Easy Wordpress Install">
                        </div>
                        <div class="feature-item-content">
                            <h3>Easy Wordpress Install</h3>
                            <p>We have installed Softaculous Apps for all plans, this makes it possible to install major
                                apps like WordPress with just one click without any programming knowledge.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152657/azh_newui/features/easy_domain_management_it86tv.png"
                                alt="Easy Domain Management">
                        </div>
                        <div class="feature-item-content">
                            <h3>Easy Domain Management</h3>
                            <p>All customers can easily manage all their domains from the billing panel. DNS Management,
                                Name servers set up, DNSSEC, e.t.c</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152273/azh_newui/features/cpanel_mcmfsh.png"
                                alt="Hosted with cPanel">
                        </div>
                        <div class="feature-item-content">
                            <h3>Hosted with cPanel</h3>
                            <p>Yes, we are using the most popular web hosting management software for all our shared
                                hosting customers. This comes for free!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152274/azh_newui/features/uptime_f25n7g.png"
                                alt="100% Uptime">
                        </div>
                        <div class="feature-item-content">
                            <h3>100% Uptime</h3>
                            <p>Our cloud infrastructure guarantees a 100% uptime network</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152274/azh_newui/features/upgrade_downgrade_zlphuu.png"
                                alt="Easy Upgrade & Downgrade">
                        </div>
                        <div class="feature-item-content">
                            <h3>Easy Upgrade & Downgrade</h3>
                            <p>There is no need for long support and calls, customers are able to upgrade their servers
                                instally and vise versa automatically.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152274/azh_newui/features/money_back_yxvrgw.png"
                                alt="7 Days Money Back Guaranteed">
                        </div>
                        <div class="feature-item-content">
                            <h3>7 Days Money Back Guaranteed</h3>
                            <p>For new accounts using our shared hosting servers, there is a 7 days Money back
                                guaranteed system, its automated and true!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152274/azh_newui/features/24_7_support_udiwfc.png"
                                alt="24/7 Customer Support">
                        </div>
                        <div class="feature-item-content">
                            <h3>24/7 Customer Support</h3>
                            <p>We work round the clock just to make sure all customers are enjoying their value for
                                money. Customers get responses via the support ticket channel.</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<!-- Compare Plans -->
<section id="compare-plans" class="pricing-section-four p-tb-100 blue-gradient-with-opacity">
    <div class="container">
        <div class="section-title section-title-two">
            <h2>Compare All Plans</h2>
        </div>

        <div class="pricing-hosting-table">
            <table>
                <thead>
                    <tr>
                        <th>
                            <div class="pricing-header-title">
                                <div class="pricing-header-title-text">Specifications</div>
                            </div>
                        </th>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <th>
                                <%= sharedHostingPlan.name %>
                            </th>
                            <% }); %>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="td-list-name td-bg">Buy Monthly for</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td class="td-orange">
                                $<%= sharedHostingPlan.monthly_cost %>/month
                            </td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">Buy Annually for</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td class="td-orange">
                                $<%= sharedHostingPlan.annual_monthly_cost %>/month
                            </td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">Annual Pricing Total</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td class="td-orange">
                                $<%= sharedHostingPlan.cost %>/year
                            </td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">Save on Annual Plan</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td class="td-orange">
                                <%= sharedHostingPlan.save_percentage %>%
                            </td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">SSD Storage</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td>
                                <%= sharedHostingPlan.features.diskspace %>
                            </td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">Bandwidth</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td>
                                <%= sharedHostingPlan.features.bandwidth %>
                            </td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">Uptime</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td>
                                100%
                            </td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">Hosted Domains</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td>
                                <%= sharedHostingPlan.features.hostedDomains %>
                            </td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">Parked Domains</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td>
                                Unlimited
                            </td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">Subdomains</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td>
                                <%= sharedHostingPlan.features.subDomains %>
                            </td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">Backups</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <% if (sharedHostingPlan.features.backups==='0' ) { %>
                                <td class="td-cancel"><i class="flaticon-close"></i></td>
                                <% }else { %>
                                    <td class="td-check"><i class="flaticon-check"></i></td>
                                    <% } %>
                                        <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">cPanel</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td class="td-check"><i class="flaticon-check"></i></td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">Dedicated IP</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <% if (sharedHostingPlan.features.dedicatedIp==='0' ) { %>
                                <td class="td-cancel"><i class="flaticon-close"></i></td>
                                <% }else { %>
                                    <td class="td-check"><i class="flaticon-check"></i></td>
                                    <% } %>
                                        <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">FTP Users</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td>
                                Unlimited
                            </td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">Personal Nameservers</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <% if (sharedHostingPlan.features.dedicatedIp==='0' ) { %>
                                <td class="td-cancel"><i class="flaticon-close"></i></td>
                                <% }else { %>
                                    <td class="td-check"><i class="flaticon-check"></i></td>
                                    <% } %>
                                        <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">Email Accounts</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td>
                                <%= sharedHostingPlan.features.emailAccounts %>
                            </td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">Webmail</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td class="td-check"><i class="flaticon-check"></i></td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">SMTP, POP3, IMAP </td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td class="td-check"><i class="flaticon-check"></i></td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">SpamAssassin</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td class="td-check"><i class="flaticon-check"></i></td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">Emails Per Hour</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td>
                                <%= sharedHostingPlan.features.emailPerHour %>
                            </td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">MySQL Databases</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td>
                                Unlimited
                            </td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">Softaculous Script Installer</td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td class="td-check"><i class="flaticon-check"></i></td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">24/7 Support </td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td class="td-check"><i class="flaticon-check"></i></td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg">Instant Setup </td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td class="td-check"><i class="flaticon-check"></i></td>
                            <% }); %>
                    </tr>
                    <tr>
                        <td class="td-list-name td-bg"> </td>
                        <% sharedHostingPlans.forEach((sharedHostingPlan, index)=> { %>
                            <td class="td-orange"><a href="<%= billingURL %>">Order Now</a></td>
                            <% }); %>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<!-- End of Compare Plans -->