<div class="container blue-gradient">
    <div class="row align-items-center">
        <div class="col-sm-12">
            <div class="header-page-content text-center text-lg-start">
                <h1>VPS Hosting</h1>
                <p>If you are looking for the best VPS servers for your business then Azpirehosting's VPS Servers are the solution. High performing servers that are reliable and affordable.</p>
                <ul class="section-button">
                    <li><a href="#pricing"><button class="btn btn-pill">Get Started</button></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</header>


<section id="pricing" class="pricing-section-five pt-100 pb-70">
    <div class="container">
        <div class="section-title section-title-two">
            <h2>Price & plans</h2>
        </div>
        <div class="row">
            <% vpsHostingPlans.forEach((vpsHostingPlan, index)=> { %>
                <div class="col-sm-12 col-md-3">
                    <div class="pricing-item pricing-item-two">
                        <div class="pricing-secondary-header">
                            <div class="pricing-header-title">
                                <h3 class="pricing-header-title-text">
                                    <%= vpsHostingPlan.name %>
                                </h3>
                            </div>
                            <div class="pricing-item-amount">
                                <h4 class="pricing-item-amount-number"><small>$</small>
                                    <%= vpsHostingPlan.cost %><span>/Month</span>
                                </h4>
                            </div>
                        </div>
                        <div class="pricing-item-body">
                            <ul class="pricing-body-list pricing-body-list-two">
                                <li><%= vpsHostingPlan.features.cores %></li>
                                <li><%= vpsHostingPlan.features.ram %></li>
                                <li><%= vpsHostingPlan.features.diskspace %></li>
                                <li><%= vpsHostingPlan.features.bandwidth %></li>
                                <li><%= vpsHostingPlan.features.dedicatedIp %> Dedicated IP</li>
                                <li><%= vpsHostingPlan.features.mbit %></li>
                            </ul>
                            <a href="<%= billingURL %>" class="btn btn-gradient">Order Now</a>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
</section>


<section class="feature-section pt-100 pb-70">
    <div class="container">
        <div class="section-title section-title-two">
            <h2>Why Choose Azpire VPS Hosting?</h2>
        </div>

        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152273/azh_newui/features/32_transfer_m95yv6.png" alt="32TB Transfer">
                        </div>
                        <div class="feature-item-content">
                            <h3>32TB Transfer</h3>
                            <p>There is enough for incoming and outgoing transfers on all our VPS plans compared to so many other competitors out there.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152273/azh_newui/features/full_virtualization_qxtngg.png" alt="Full Virtualization">
                        </div>
                        <div class="feature-item-content">
                            <h3>Full Virtualization</h3>
                            <p>You would get full benefits of the hardware components used to build the server which guarantees a better performance.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152274/azh_newui/features/timely_setup_ajr04d.png" alt="Timely Setup">
                        </div>
                        <div class="feature-item-content">
                            <h3>Timely Setup</h3>
                            <p>VPS are created beween 1 - 3 hours. This timeframe allows us to carefully setup the server as this is done manually per each order..</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152274/azh_newui/features/ssd_rhtwwy.png" alt="100% SSD">
                        </div>
                        <div class="feature-item-content">
                            <h3>100% SSD</h3>
                            <p>All VPS plans comes with an SSD hard drive which automatically improves the server speed. These hard drives are 100% reliable.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152274/azh_newui/features/24_7_support_udiwfc.png" alt="24/7 Customer Support">
                        </div>
                        <div class="feature-item-content">
                            <h3>24/7 Customer Support</h3>
                            <p>We work round the clock just to make sure all customers are enjoying their value for money. Customers get responses via the support ticket channel.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="feature-item feature-item-2 fluid-height">
                    <div class="feature-item-inner full-height bg-white">
                        <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                            <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1627152273/azh_newui/features/data_center_az8imy.png" alt="US Data Center">
                        </div>
                        <div class="feature-item-content">
                            <h3>US Data Center</h3>
                            <p>Our Datacenter for the VPS plans exist in the US, we plan to add more locations very soon later in the future.</p>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</section>